* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #0D2D53;
}

.inicio {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/fundo-inicio.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}
.navbar {
    display: flex;
}