<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/ferramentas.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <img src="../static/img/logo-nav.png" alt="Logo" class="logo"/>
            <div class="menu-icon" id="menu-icon">&#9776;</div>              
            <ul class="nav-menu" id="nav-menu">
                <li><a href="#sobre-nos">SOBRE NÓS</a></li>
                <li><a href="#servicos">SERVIÇOS</a></li>
                <li><a href="#localizacao">LOCALIZAÇÃO</a></li>
                <li><a href="#contato">CONTATO</a></li>
                <li><a href="https://vip.acessorias.com/primeassessoriacontabilsp">ÁREA DO CLIENTE</a></li>
            </ul> 
        </div>
    </nav>
    <section class="container-cards">
        <div class="card">
            <a href=""><div class="imagem"><img src="../static/img/consulta-cadesp.png" alt=""/></div><div class="texto">CONSULTA-CADESP</div></a>
            <a href=""><div class="imagem"><img src="../static/img/sintegra.png" alt=""/></div><div class="texto">SINTEGRA</div></a>
            <a href=""><div class="imagem"><img src="../static/img/consulta-cnpj.png" alt=""/></div><div class="texto">CONSULTA-CNPJ</div></a>
            <a href=""><div class="imagem"><img src="../static/img/e-cac.png" alt=""/></div><div class="texto">E-CAC</div></a>
            <a href=""><div class="imagem"><img src="../static/img/prefeitura-barretos.png" alt=""/></div><div class="texto">PREFEITURA BARRETOS</div></a>
        </div>
        <br><br>
        <div class="card">
            <a href="">CND</a>
            <a href="">CND</a>
            <a href="">CND</a>
            <a href="">CND</a>
            <a href="">CND</a>
        </div>
    </section>
    <footer>
        <div class="crc">
            <img src="../static/img/logo-footer.png" alt="">
        </div>
        <div class="creditos">
            <p>© PRIME ASSESSORIA CONTÁBIL - CNPJ: 46.903.952/0001-16</p>
            <a href="https://github.com/ronaldosnb">Feito por: Ronaldosnb</a>
        </div>
    </footer>
</body>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const menuIcon = document.querySelector(".menu-icon");
            const navMenu = document.querySelector(".nav-menu");
            const navLinks = document.querySelectorAll(".nav-menu a");

            if (menuIcon && navMenu) {
                menuIcon.addEventListener("click", () => {
                    navMenu.classList.toggle("active");
                });
                navLinks.forEach(link => {
                    link.addEventListener("click", () => {
                        navMenu.classList.remove("active");
                    });
                });
            }
        });
    </script> 
</html>