<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/ferramentas.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <img src="../static/img/logo-nav.png" alt="Logo" class="logo"/>
            <div class="menu-icon" id="menu-icon">&#9776;</div>              
            <ul class="nav-menu" id="nav-menu">
                <li><a href="index.html#sobre-nos">SOBRE NÓS</a></li>
                <li><a href="index.html#servicos">SERVIÇOS</a></li>
                <li><a href="index.html#localizacao">LOCALIZAÇÃO</a></li>
                <li><a href="index.html#contato">CONTATO</a></li>
                <li><a href="https://vip.acessorias.com/primeassessoriacontabilsp">ÁREA DO CLIENTE</a></li>
            </ul> 
        </div>
    </nav>
    <section class="container-cards">
        <div class="card">  
            <a href="https://www.cadesp.fazenda.sp.gov.br/(S(ddugdwhflrgr2zweoujqbmuu))/Pages/Login.aspx">
                <div class="imagem">
                    <img src="../static/img/consulta-cadesp.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>CONSULTA-CADESP</h4>
                </div>
            </a>
            <a href="http://www.sintegra.gov.br/">
                <div class="imagem">
                    <img src="../static/img/sintegra.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>SINTEGRA</h4>
                </div>
            </a>
            <a href="https://solucoes.receita.fazenda.gov.br/servicos/cnpjreva/cnpjreva_solicitacao.asp">
                <div class="imagem">
                    <img src="../static/img/consulta-cnpj.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>CONSULTA-CNPJ</h4>
                </div>
            </a>
            <a href="https://cav.receita.fazenda.gov.br/autenticacao/login">
                <div class="imagem">
                    <img src="../static/img/e-cac.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>E-CAC</h4>
                </div>
            </a>
            <a href="https://barretos.sp.gov.br/">
                <div class="imagem">
                    <img src="../static/img/prefeitura-barretos.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>PREFEITURA BARRETOS</h4>
                </div>
            </a>
        </div>
        <br><br>
        <div class="card">
            <a href="https://www10.fazenda.sp.gov.br/CertidaoNegativaDeb/Pages/EmissaoCertidaoNegativa.aspx">
                <div class="imagem">
                    <img src="../static/img/cnd-debitos-nao-inscritos.jpeg" alt=""/>
                </div>
                <div class="texto">
                    <h4>CND - SP</h4>
                    <h4>DÉBITOS NÃO INSCRITOS</h4>
                </div>
            </a>
            <a href="https://www.dividaativa.pge.sp.gov.br/sc/pages/crda/emitirCrda.jsf">
                <div class="imagem">
                    <img src="../static/img/cnd-tjsp-debitos-inscritos.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>CND - SP</h4>
                    <h4>DÉBITOS INSCRITOS</h4>
                </div>
            </a>
            <a href="https://www.tse.jus.br/servicos-eleitorais/autoatendimento-eleitoral#/certidoes-eleitor">
                <div class="imagem">
                    <img src="../static/img/cnd-eleitoral.jpeg" alt=""/>
                </div>
                <div class="texto">
                    <h4>CND - ELEITORAL</h4>
                </div>
            </a>
            <a href="https://esaj.tjsp.jus.br/sco/abrirCadastro.do">
                <div class="imagem">
                    <img src="../static/img/cnd-tjsp-debitos-inscritos.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>CND - TJSP</h4>
                </div>
            </a>
            <a href="https://cndt-certidao.tst.jus.br/inicio.faces">
                <div class="imagem">
                    <img src="../static/img/cnd-trabalhista.jpeg" alt=""/>
                </div>
                <div class="texto">
                    <h4>CND - TRABALHISTA</h4>
                </div>
            </a>
        </div>
        <br><br> 
        <div class="card">
            <a href="https://consulta-crf.caixa.gov.br/consultacrf/pages/consultaEmpregador.jsf">
                <div class="imagem">
                    <img src="../static/img/cnd-fgts-crf.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>CND - FGTS CRF</h4>
                </div>
            </a>
            <a href="https://servicos.receitafederal.gov.br/servico/certidoes/#/home">
                <div class="imagem">
                    <img src="../static/img/cnd-federal.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>CND - FEDERAL</h4>
                    <h4>PJ, PF, ITR, OBRAS</h4>
                </div>
            </a>
            <a href="https://www.gov.br/empresas-e-negocios/pt-br/empreendedor">
                <div class="imagem">
                    <img src="../static/img/portal-empreendedor.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>PORTAL EMPREENDOR</h4>
                </div>
            </a>
            <a href="https://vreredesim.sp.gov.br/home">
                <div class="imagem">
                    <img src="../static/img/via-empresa.png" alt=""/>
                </div>
                <div class="texto"> 
                    <h4>VIA RAPIDA EMPRESA</h4>
                </div>
            </a>
            <a href="https://www.gov.br/empresas-e-negocios/pt-br/redesim">
                <div class="imagem">
                    <img src="../static/img/consulta-cnpj.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>PORTAL DE EMPRESA FEDERAl</h4>
                </div>
            </a>
        </div>
        <br><br> 
        <div class="card">
            <a href="https://www3.fazenda.sp.gov.br/CAWEB/Account/Login.aspx/">
                <div class="imagem">
                    <img src="../static/img/consulta-cadesp.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>POSTO FISCAL ELETRÔNICO</h4>
                </div>
            </a>
            <a href="https://www.nfse.gov.br/EmissorNacional/Login?ReturnUrl=%2fEmissorNacional">
                <div class="imagem">
                    <img src="../static/img/portal-nfse.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>PORTAL NFS-e</h4>
                </div>
            </a>
            <a href="https://www8.receita.fazenda.gov.br/simplesnacional/aplicacoes.aspx?id=21">
                <div class="imagem">
                    <img src="../static/img/optante-pelo-simples.png" alt=""/>
                </div>
                <div class="texto">
                    <h4>OPTANTE PELO SIMPLES</h4>
                </div>
            </a>
            <a href="">
                <div class="imagem">
                    <img src="../static/img" alt=""/>
                </div>
                <div class="texto"> 
                    <h4></h4>
                </div>
            </a>
            <a href="">
                <div class="imagem">
                    <img src="../static/img" alt=""/>
                </div>
                <div class="texto">
                    <h4></h4>
                </div>
            </a>
        </div>
    </section>
    <footer>
        <div class="crc">
            <img src="../static/img/logo-footer.png" alt="">
        </div>
        <div class="creditos">
            <p>© PRIME ASSESSORIA CONTÁBIL - CNPJ: 46.903.952/0001-16</p>
            <a href="https://github.com/ronaldosnb">Feito por: Ronaldosnb</a>
        </div>
    </footer>
</body>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const menuIcon = document.querySelector(".menu-icon");
            const navMenu = document.querySelector(".nav-menu");
            const navLinks = document.querySelectorAll(".nav-menu a");

            if (menuIcon && navMenu) {
                menuIcon.addEventListener("click", () => {
                    navMenu.classList.toggle("active");
                });
                navLinks.forEach(link => {
                    link.addEventListener("click", () => {
                        navMenu.classList.remove("active");
                    });
                });
            }
        });
    </script> 
</html>