<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRIME ASSESSORIA CONTABIL</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section class="inicio">
        <div class="img-fundo"></div>
        <nav class="navbar">
            <div class="logo">
                <img src="../static/img/logo-nav.png">
            </div>
            <ul>
                <li><a href="">INICIO</a></li>
                <li><a href="">SOBRE NÓS</a></li>
                <li><a href="">SERVIÇOS</a></li>
                <li><a href="">LOCALIZAÇÃO</a></li>
                <li><a href="">CONTATO</a></li>
                <li><a href="">ÁREA DO CLIENTE</a></li>
            </ul>
        </nav>
        <div class="texto-inicial">
            <h1>Contabilidade com foco no crescimento da sua empresa</h1>
            <p>
            Com a Prime Contabilidade, você tem à disposição uma equipe<br>
            de especialistas que cuida de toda a parte contábil e tributária<br>
            do seu negócio. Nós entendemos que cada empresa tem suas<br>
            necessidades, e é por isso que oferecemos soluções<br>
            personalizadas para o crescimento do seu empreendimento!
            </p>
            <button><a href="https://primecontabil.my.canva.site/">FALE COM UM ESPECIALISTA</a></button>
        </div>
    </section>
</body>
</html>