<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRIME ASSESSORIA CONTABIL</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section class="inicio">
        <div class="img-fundo"></div>
        <nav class="navbar">
            <div class="logo">
                <img src="../static/img/logo-nav.png">
                <h1>PRIME</h1>
            </div>
            <ul>
            <li><a href="">INICIO</a></li>
            <li><a href="">SOBRE NÓS</a></li>
            <li><a href="">SERVIÇOS</a></li>
            <li><a href="">LOCALIZAÇÃO</a></li>
            <li><a href="">CONTATO</a></li>
            <li><a href="">ÁREA DO CLIENTE</a></li>
            </ul>
        </nav>
    </section>
</body>
</html>