<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <link rel="icon" type="image/png" href="../static/img/icon-logo.png">
    <title>PRIME ASSESSORIA CONTABIL</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="hero">
            <div class="hero-center">
                <nav class="navbar">
                    <img src="../static/img/logo-nav.png" alt="Logo" class="logo" />
                    <div class="menu-icon" id="menu-icon">&#9776;</div>              
                    <ul class="nav-menu" id="nav-menu">
                        <li><a href="#sobre-nos">SOBRE NÓS</a></li>
                        <li><a href="#servicos">SERVIÇOS</a></li>
                        <li><a href="#localizacao">LOCALIZAÇÃO</a></li>
                        <li><a href="#contato">CONTATO</a></li>
                        <li><a href="https://vip.acessorias.com/primeassessoriacontabilsp">ÁREA DO CLIENTE</a></li>
                    </ul> 
                </nav>
                <div class="hero-content">
                <h1>Contabilidade com foco no crescimento da sua empresa</h1>
                <p>Com a Prime Contabilidade, você tem à disposição uma equipe de especialistas que cuida de toda a parte contábil e tributária do seu negócio. Nós entendemos que cada empresa tem suas necessidades, e é por isso que oferecemos soluções personalizadas para o crescimento do seu empreendimento!</p>
                <a href="https://wa.me/5517981317511" class="hero-btn">FALE COM UM ESPECIALISTA</a>
                </div>
            </div>
        </div>
    </header>
    <section class="sobre-nos" id="sobre-nos">
        <div class="container">
            <div class="texto">
                <div class="linha-topo">
                    <div class="linha azul"></div>
                    <div class="linha amarela"></div>
                </div>
                <h2>SOBRE NÓS</h2>
                <p>
                    Na Prime Contabilidade, somos uma equipe de profissionais dedicados a fornecer soluções contábeis completas e personalizadas para empresas e indivíduos.
                </p>
                <p>
                    Com anos de experiência no mercado, nosso compromisso é oferecer serviços que garantam segurança, eficiência e conformidade fiscal, sempre com um atendimento próximo e de qualidade.
                </p>
            </div>
            <div class="imagem">
                <img src="../static/img/faxada-prime.png" alt="fachada prime">
            </div>
        </div>
    </section>
    <section class="servicos" id="servicos">
        <div class="container-servicos">
            <div class="titulo-servicos">
                <div class="linha-topo">
                    <div class="linha azul"></div>
                    <div class="linha amarela"></div>
                </div>
                <div class="button-servicos">
                    <h2>CONTE COM A PRIME CONTABILIDADE</h2>
                </div>
            </div>
            <div class="cards-servicos">
                <div class="card">
                    <img src="../static/img/icon-contabil.webp" alt="Serviço Fiscal">
                    <h3>Contabilidade Fiscal</h3>
                    <p>Mantenha sua empresa em dia com todas as obrigações fiscais. Cuidamos da apuração de impostos, entrega de declarações e oferecemos uma assessoria completa para garantir a conformidade do seu negócio e evitar surpresas.</p>
                </div>
                <div class="card">
                    <img src="../static/img/icon-rh.png" alt="Departamento Pessoal">
                    <h3>Departamento Pessoal</h3>
                    <p>Simplifique a gestão de seus funcionários. Realizamos o processamento da folha de pagamento, controle de admissões, férias, rescisões e toda a rotina trabalhista, garantindo que sua empresa esteja sempre em conformidade com a legislação.</p>
                </div>
                <div class="card">
                    <img src="../static/img/icon-empresa.png" alt="Abertura de Empresas">
                    <h3>Abertura de Empresas</h3>
                    <p>Transforme seu sonho em realidade sem burocracia. Cuidamos de todo o processo de abertura da sua empresa, desde o registro nos órgãos competentes até a obtenção do CNPJ, para que você possa focar no que realmente importa: o seu negócio.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="localizacao" id="localizacao">
        <div class="container-localizacao">
            <div class="titulo-localizacao">
                <div class="linha-topo">
                    <div class="linha azul"></div>
                    <div class="linha amarela"></div>
                </div>
                <h2>LOCALIZAÇÃO</h2>
                <p>Estamos localizados no centro da cidade, <br> em uma área de fácil acesso. Nossa equipe <br> está pronta para receber você e atender as <br>  suas necessidades. Sinta-se à vontade para <br> nos visitar e conhecer de perto nossos serviços.</p>
                <h3>Endereço</h3>
                <h4>Av. 25, n° 120 - Centro <br> Barretos - SP, 14780-330</h4>
                <h3>Horários</h3>
                <h4>Segunda a sexta <br> 08:00 - 12:00, 14:00–18:00</h4>
            </div>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d473.01377999835404!2d-48.564945641070345!3d-20.553417860421536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bb854257d17ac3%3A0x1060b40ab8120b79!2sPrime%20Assessoria%20Contabil%20-%20Escrit%C3%B3rio%20de%20Contabilidade!5e0!3m2!1spt-BR!2sbr!4v1754921509423!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    <section class="contato" id="contato">
        <div class="container-contato">
            <div class="conteudo-contato">
                <div class="alinhar-contato">
                    <div>
                        <div class="linha-topo">
                            <div class="linha azul"></div>
                            <div class="linha amarela"></div>
                        </div>
                        <h2>CONTATO</h2>
                        <p>Entre em contato conosco para agendar uma consulta ou esclarecer dúvidas sobre nossos serviços. Estamos aqui para ajudar!</p>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/company/prime4-assessoria-contabil/"><img src="../static/img/icon-linkedin.png" alt=""></a>
                        <a href="https://www.facebook.com/share/1DAMC34eXH/"><img src="../static/img/icon-facebook.png" alt=""></a>
                        <a href="https://www.instagram.com/primeassessoria2022?igsh=MTlkaXJ2Z2ZueWxheg=="><img src="../static/img/icon-instagram.png" alt=""></a>
                    </div>
                </div>
            </div>
            <form action="#" method="post" class="form-contato" id="form-contato">
                <input type="text" id="name" name="name" placeholder="Seu Nome" required>
                <input type="email" id="email" name="email" placeholder="Seu Email" required>
                <input type="text" id="whatsapp" name="whatsapp" placeholder="Whatsapp" required>
                <textarea name="message" id="message" placeholder="Sua Mensagem" required></textarea>
                <button type="submit" class="btn-contato">Enviar</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="crc">
            <img src="../static/img/logo-footer.png" alt="">
        </div>
        <div class="creditos">
            <p>© PRIME ASSESSORIA CONTÁBIL - CNPJ: 46.903.952/0001-16</p>
            <a href="https://github.com/ronaldosnb">Feito por: Ronaldosnb</a>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const menuIcon = document.querySelector(".menu-icon");
            const navMenu = document.querySelector(".nav-menu");
            const navLinks = document.querySelectorAll(".nav-menu a");

            if (menuIcon && navMenu) {
                menuIcon.addEventListener("click", () => {
                    navMenu.classList.toggle("active");
                });
                navLinks.forEach(link => {
                    link.addEventListener("click", () => {
                        navMenu.classList.remove("active");
                    });
                });
            }
        });
    </script> 
    <script>
        (function(){
            emailjs.init("JcY1GToA0VjFoxILz");
        })();

        document.getElementById("form-contato").addEventListener("submit", function(event){
            event.preventDefault();

            let form = this;

            emailjs.sendForm("service_5c5btcp", "template_hrismgk", form)
            .then(function() {
                alert("Mensagem enviada com sucesso!");
                form.reset();
            }, function(error) {
                alert("Erro ao enviar: " + JSON.stringify(error));
            });
        });
    </script>
</body>